# Variable Assignment

In [1]:
x=5 #this is an integer

In [3]:
x

5

In [ ]:
print(x)

# Hello this is markdown
## Thisis a Header 2
### This is a Header 3

Regular Text

**Bold Text**
*Italic*

This is your bullet
* Hello
* Hi
* Hai

## Integer

In [7]:
type(x)

int

## Float

In [8]:
y=5.0
print(type(y))
y

<class 'float'>

5.0

## String

In [14]:
z="GoodBy Hello"
z= 'GoodBye Hello'
z=""" Multiline quote
f
f
f
f
f
"""
print(z)

 Multiline quote
f
f
f
f
f

In [12]:
quote="\"I think there for I am\"- Rene Decartes"
quote

'"I think there for I am"- Rene Decartes'

In [13]:
backslash="how do you print a\\"
print(backslash)

how do you print a\

In [18]:
long_string="long_string_here_it_is"
long_string[:11]

'long_string'

## Boolean

In [19]:
boolean= True
anoher_boolean= False
not_a_boolean ="True"

a=1
b=2
a==b

False

## Non-Primitive Data Types

In [21]:
a_list=[1,2,3,4,5,6,7,"asdl"] #you can combine data types
a_list

[1, 2, 3, 4, 5, 6, 7, 'asdl']

In [28]:
a_list[::-1]

['asdl', 7, 6, 5, 4, 3, 2, 1]

In [30]:
a_list[::2]

[1, 3, 5, 7]

In [31]:
a_tuple=(1,2,3,4,5) #cant change
a_tuple

(1, 2, 3, 4, 5)

In [32]:
a_tuple[::-1]

(5, 4, 3, 2, 1)

In [40]:
dictionary={"key":"value", "another":"value"}
dictionary
dictionary["key"]
dictionary.get("key")

'value'

## Operation

In [41]:
add= 2+2
add

4

In [42]:
add_str="str"+"str"
add_str

'strstr'

In [43]:
add_list=[1,2,3,4]+[1,2,3]
add_list

[1, 2, 3, 4, 1, 2, 3]

In [44]:
add_tuple=(1,2,3,4)+(1,2,3)
add_tuple

(1, 2, 3, 4, 1, 2, 3)

In [45]:
sub_str="str"-"strr"
sub_str

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [46]:
mult=3*2
mult

6

In [47]:
mult="str"*3
mult

'strstrstr'

In [48]:
mult_list=[1,2,3]*3
mult_list

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [50]:
div=2/2
div

1.0

In [51]:
zero_div=3/0
zero_div

ZeroDivisionError: division by zero

In [52]:
modulo=1%3
modulo

1

In [53]:
floor_division=7//2 #greatest multiple
floor_division

3

Assignment Operations

In [54]:
print(3==3)
print(3!=4)
print(3>4)
print(3<5)
print(2>=2)
print(4<=4)

True
True
False
True
True
True

In [55]:
str(1) not in "gnkjnkjgnlsk"

True

## Functions

In [5]:
def our_function(x, y, z):
    x=3
    y=2
    return x + y + z

In [6]:
our_function(x=1, y=2, z=3)

8

In [1]:
import numpy

In [1]:
import numpy as np

In [2]:
np.array([1,2,3])

array([1, 2, 3])

Control Statement

In [4]:
the_list=list(range(1,100))
print(the_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [7]:
for i in the_list:
    print("i is now",i)
    i+=1 #same as saying i=i+1
    print("output is",i)
print("loop is ended")

i is now 1
output is 2
i is now 2
output is 3
i is now 3
output is 4
i is now 4
output is 5
i is now 5
output is 6
i is now 6
output is 7
i is now 7
output is 8
i is now 8
output is 9
i is now 9
output is 10
i is now 10
output is 11
i is now 11
output is 12
i is now 12
output is 13
i is now 13
output is 14
i is now 14
output is 15
i is now 15
output is 16
i is now 16
output is 17
i is now 17
output is 18
i is now 18
output is 19
i is now 19
output is 20
i is now 20
output is 21
i is now 21
output is 22
i is now 22
output is 23
i is now 23
output is 24
i is now 24
output is 25
i is now 25
output is 26
i is now 26
output is 27
i is now 27
output is 28
i is now 28
output is 29
i is now 29
output is 30
i is now 30
output is 31
i is now 31
output is 32
i is now 32
output is 33
i is now 33
output is 34
i is now 34
output is 35
i is now 35
output is 36
i is now 36
output is 37
i is now 37
output is 38
i is now 38
output is 39
i is now 39
output is 40
i is now 40
output is 41
i is now 41
output is 42
i is now 42
output is 43
i is now 43
output is 44
i is now 44
output is 45
i is now 45
output is 46
i is now 46
output is 47
i is now 47
output is 48
i is now 48
output is 49
i is now 49
output is 50
i is now 50
output is 51
i is now 51
output is 52
i is now 52
output is 53
i is now 53
output is 54
i is now 54
output is 55
i is now 55
output is 56
i is now 56
output is 57
i is now 57
output is 58
i is now 58
output is 59
i is now 59
output is 60
i is now 60
output is 61
i is now 61
output is 62
i is now 62
output is 63
i is now 63
output is 64
i is now 64
output is 65
i is now 65
output is 66
i is now 66
output is 67
i is now 67
output is 68
i is now 68
output is 69
i is now 69
output is 70
i is now 70
output is 71
i is now 71
output is 72
i is now 72
output is 73
i is now 73
output is 74
i is now 74
output is 75
i is now 75
output is 76
i is now 76
output is 77
i is now 77
output is 78
i is now 78
output is 79
i is now 79
output is 80
i is now 80
output is 81
i is now 81
output is 82
i is now 82
output is 83
i is now 83
output is 84
i is now 84
output is 85
i is now 85
output is 86
i is now 86
output is 87
i is now 87
output is 88
i is now 88
output is 89
i is now 89
output is 90
i is now 90
output is 91
i is now 91
output is 92
i is now 92
output is 93
i is now 93
output is 94
i is now 94
output is 95
i is now 95
output is 96
i is now 96
output is 97
i is now 97
output is 98
i is now 98
output is 99
i is now 99
output is 100
loop is ended

In [8]:
x=0
while x<5:
    x+=1
    print(x)

1
2
3
4
5

In [9]:
x=3
y=5

if x== y:
    print("x equals y")
elif x>y:
    print("x is greater than y")
else:
    print("x is smaller than y")

x is smaller than y

In [11]:
try:
    2/0 #you can't divide by 0 and this will throw an exception
except ZeroDivisionError:
    print("Can't divide by zero")

Can't divide by zero