# Variable Assignment

In [1]:
x=5 #this is an integer

In [3]:
x

5

In [ ]:
print(x)

# Hello this is markdown
## Thisis a Header 2
### This is a Header 3

Regular Text

**Bold Text**
*Italic*

This is your bullet
* Hello
* Hi
* Hai

## Integer

In [7]:
type(x)

int

## Float

In [8]:
y=5.0
print(type(y))
y

<class 'float'>

5.0

## String

In [14]:
z="GoodBy Hello"
z= 'GoodBye Hello'
z=""" Multiline quote
f
f
f
f
f
"""
print(z)

 Multiline quote
f
f
f
f
f

In [12]:
quote="\"I think there for I am\"- Rene Decartes"
quote

'"I think there for I am"- Rene Decartes'

In [13]:
backslash="how do you print a\\"
print(backslash)

how do you print a\

In [18]:
long_string="long_string_here_it_is"
long_string[:11]

'long_string'

## Boolean

In [19]:
boolean= True
anoher_boolean= False
not_a_boolean ="True"

a=1
b=2
a==b

False

## Non-Primitive Data Types

In [21]:
a_list=[1,2,3,4,5,6,7,"asdl"] #you can combine data types
a_list

[1, 2, 3, 4, 5, 6, 7, 'asdl']

In [28]:
a_list[::-1]

['asdl', 7, 6, 5, 4, 3, 2, 1]

In [30]:
a_list[::2]

[1, 3, 5, 7]

In [31]:
a_tuple=(1,2,3,4,5) #cant change
a_tuple

(1, 2, 3, 4, 5)

In [32]:
a_tuple[::-1]

(5, 4, 3, 2, 1)

In [40]:
dictionary={"key":"value", "another":"value"}
dictionary
dictionary["key"]
dictionary.get("key")

'value'

## Operation

In [41]:
add= 2+2
add

4

In [42]:
add_str="str"+"str"
add_str

'strstr'

In [43]:
add_list=[1,2,3,4]+[1,2,3]
add_list

[1, 2, 3, 4, 1, 2, 3]

In [44]:
add_tuple=(1,2,3,4)+(1,2,3)
add_tuple

(1, 2, 3, 4, 1, 2, 3)

In [45]:
sub_str="str"-"strr"
sub_str

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [46]:
mult=3*2
mult

6

In [47]:
mult="str"*3
mult

'strstrstr'

In [48]:
mult_list=[1,2,3]*3
mult_list

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [50]:
div=2/2
div

1.0

In [51]:
zero_div=3/0
zero_div

ZeroDivisionError: division by zero

In [52]:
modulo=1%3
modulo

1

In [53]:
floor_division=7//2 #greatest multiple
floor_division

3

Assignment Operations

In [54]:
print(3==3)
print(3!=4)
print(3>4)
print(3<5)
print(2>=2)
print(4<=4)

True
True
False
True
True
True

In [55]:
str(1) not in "gnkjnkjgnlsk"

True

## Functions

In [5]:
def our_function(x, y, z):
    x=3
    y=2
    return x + y + z

In [6]:
our_function(x=1, y=2, z=3)

8

In [8]:
import numpy

ModuleNotFoundError: No module named 'numpy'

In [11]:
import numpy

ModuleNotFoundError: No module named 'numpy'